body {
  margin: 0;
  font-family: Arial, sans-serif; /* Fuente del texto */
  background-color: #f0f0f0; /* Color de fondo del cuerpo */
  
  background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza la página */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  font-family: Arial, sans-serif; /* Fuente del texto */
}

header {
  background-color: #c36a6ad1; /* Color de fondo del encabezado */
  text-align: center; /* Centra el texto horizontalmente */
  height: 200px; /* Altura del encabezado */
}

h1 {
  color: #cdc9c9; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado del encabezado */
  font-size: 36px; /* Tamaño del texto */
  line-height: 200px; /* Alinea verticalmente el texto al centro */
}


/* Ajuste para hacer el encabezado ocupar todo el ancho */
header {
  width: 100%;
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
  padding: 0 20px; /* Espaciado interno izquierdo y derecho */
}